<section id="site-description">
@if (Context.String(BlogKeys.Description) != null)
{
    <h1>@Context.String(BlogKeys.Description)</h1>
}
@if (Context.String(BlogKeys.Intro) != null)
{
    <p id="site-intro">
        @Context.String(BlogKeys.Intro)
    </p>
}
</section>
<div class="post-list">
@foreach(IDocument post in Model.DocumentList(Keys.PageDocuments))
{
    DateTime time = post.Get<DateTime>(BlogKeys.Published);
    String timeFormat = "yyyy-MM-dd";
    <article class="post">
        <header>
            <h2 class="post-title">
                <a href="@Context.GetLink(post)">@post.WithoutSettings.String(BlogKeys.Title)</a>
            </h2>
            <div class="post-meta"><time datetime="@(time.ToString(timeFormat))">@(time.ToLongDateString(Context))</time></div>
        </header>
        <section class="post-content">
        @if (Context.Bool(BlogKeys.IndexFullPosts))
        {
            @Html.Raw(post.Content)
        }
        else
        {
            @Html.Raw(post.String(BlogKeys.Excerpt))
        }
        </section>
    </article>
}
</div>
<div class="spacer"></div>
<div class="control-container">
@{
    var previousDisabled = Model.Bool(Keys.HasPreviousPage) ? "" : "disabled";
    var nextDisabled = Model.Bool(Keys.HasNextPage) ? "" : "disabled";
}
    <div @previousDisabled class="button-link">
        <a href="@(Context.GetLink(Model.Document(Keys.PreviousPage)))"><span aria-hidden="true">&larr;</span> Newer</a> 
    </div>
    <div @nextDisabled class="button-link">
        <a href="@(Context.GetLink(Model.Document(Keys.NextPage)))">Older <span aria-hidden="true">&rarr;</span></a>
    </div>
</div>
